// tema verde esmeralda
	$color1: #26a69a;
	$color1-hover: #11322F;
// cores padroes
	$verde-escuro: #004d40;
	$verde-padrao: #3ab772;
	$verde-dark: #28764b;
	// cinzas
	$cinza: #aab2bd;
		// elos 
			$bronze: #886F46;
			$prata: #E0DBD5;
			$ouro: #FFEA00;
// fontes
	$ubuntu: 'Ubuntu', sans-serif;
	$lato: 'Lato', sans-serif;
